##################################################
#                                                #
#         Setup file for Sparse2Spatial          #
#                                                #
##################################################
#
# - Locations of input data and	files used by s2s
#
data_root            : /work/home/ts551/data/s2s/
AC_tools             : /work/home/ts551//labbook/Python_progs/AC_tools/
# End of file