##################################################
#                                                #
#         Setup file for Sparse2Spatial          #
#                                                #
##################################################
#
# - Locations of input data
#
data_root            : /users/ts551/scratch/data/iodide/
submitted_data       : /users/ts551/scratch/data/iodide/submitted_data/
digitised_data       : /users/ts551/scratch/data/iodide/digitised_data/
new_data             : /users/ts551/scratch/data/iodide/iodide_data_recieved_post_Chance2014/
DOC                  : /users/ts551/scratch/data/iodide/DOC/
Martin_Wadley        : /users/ts551/scratch/data/iodide/Martin_Wadley/
GFDL                 : /users/ts551/scratch/data/iodide/GFDL/
WOA_2013             : /users/ts551/scratch/data/iodide/WOA13/
WOA_2001             : /users/ts551/scratch/data/iodide/WOA13/
WOA_1994             : /users/ts551/scratch/data/iodide/WOA94/
SeaWIFS              : /users/ts551/scratch/data/iodide/SeaWIFS/
BODC                 : /users/ts551/scratch/data/iodide/BODC/
NASA_data_dir        : /work/data//NASA/nature_run/
root_data_dir        : /work/data/
home_dir             : /users/ts551/scratch/
earth0_home_dir      : /users/ts551/scratch/
AC_tools             : /users/ts551/scratch//labbook/Python_progs/AC_tools/
# End of file